@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #ffffff;
  --primary-color: #ee3a46;
  --secondary-color: #d4af37;
  --text-color: #0f6194;
  --text-color-2: #0b8fe0;
}

.text-gr {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    175deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 97%
  );
  background: -webkit-linear-gradient(
    175deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 97%
  );
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
