@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #ffffff;
  --primary-color: #ee3a46;
  --secondary-color: #d4af37;
  --text-color: #0f6194;
  --text-color-2: #0b8fe0;
}

* {
  background-color: var(--main-bg);
  color: var(--text-color);
}
